@import "../../../styles/variables";

.dialogs {
  width: 420px;
  padding: 0 10px;

  &__item {
    $self: &;
    display: flex;
    margin-bottom: 10px;

    &-avatar {
      position: relative;
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
      }
    }

    &-noAvatar{
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-size: 22px;
    }

    &--online {
      #{$self}-avatar {
        &::before {
          display: block;
          position: absolute;
          content: '';
          bottom: 2px;
          right: 2px;
          border: 2px solid black;
          background-color: $green;
          border-radius: 20px;
          width: 12px;
          height: 12px;
        }
      }
    }

    &-info {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-flow: column;

      &-top {
        display: flex;

        b {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 2px;
        }

        span {
          opacity: 0.4;
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          opacity: 0.4;
          max-width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &-count {
      background: $blue;
      color: #FFFFFF;
      font-weight: 500;
      min-width: 18px;
      height: 18px;
      border-radius: 30px;
      text-align: center;
      line-height: 17px;
      font-size: 11px;

      span {
        margin: 0 4px;
      }
    }
  }
}