$blue: #1ee6e6;
$black: #202020;
$message-typing-blue: #E5EDFF;
$green: #0ac630;
$light-black: #2f2f2f;
$light-black-btn: #474747;
$grey: #707070;
$body-bg: #F4f7fd;
$chat-bg: #FFFFFF;
$input-bg: #f7f8f9;
