@import './colors';

$bubble: #202020;
$accent-color: var(--accent-color);
$message-typing-blue: #E5EDFF;
$green: #0ac630;
$light-black: #2f2f2f;
$light-black-btn: #474747;
$grey: #707070;
$body-bg: var(--background-color);
$chat-bg: var(--chat-background);
$scroll-thumb-color: var(--scroll-thumb-color);
$scroll-bg-color: var(--scroll-bg-color);
$input-bg-color: #f7f8f9;
$dropdown-menu-color: var(--dropdown-menu-color);
$default-font-color: var(--default-font-color);
$secondary-font-color: var(--secondary-font-color);
$hover-color: var(--hover-color);
$status-color: #D4D4D4;
$time: 0.2s;
$border: 1px solid var(--border-color);
$border-input-search: 1px solid var(--input-search-border-color);
$border-radius: 12px;
$line-height: 1.3125;
$border-online: #FFFFFF;
$font-me-color: #FFFFFF;
$font-count-color: #FFFFFF;
$input-search-background-color: var(--input-search-background-color);
$input-search-button-color: var(--input-search-button-color);
$switch-color: var(--switch-color);
$transition: all 0.2s;

%hover {
  background: $hover-color;
  transition: $time;
}

%span-icon {
  display: flex;
  cursor: pointer;
  width: 35px !important;
  height: 30px !important;
  align-items: center;
  justify-content: center;
  transition: $time;
  border-radius: 20px;
  margin: 0 6px;
}

%icon-size {
  width: 22px;
  height: 22px;
}

