@import 'src/styles/variables';
@import 'src/styles/adaptive';
@import 'src/styles/colors';

.home {
  width: 100%;
}

.chat {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: $chat-bg;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.04);

  &__dialog {
    min-width: 420px;
    flex: 1;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: $border;
      height: 50px;

      &-center {
        display: flex;
        align-items: center;
      }

      b {
        color: $default-font-color
      }

      img {
        width: 38px;
        height: 38px;
        border-radius: 30px;
        margin: 0 10px;
        object-fit: cover;
      }

      svg {
        color: $default-font-color;
      }

      span {
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $time;
        border-radius: 20px;

        &:hover {
          background-color: $hover-color;
        }
      }
    }

    &-messages-wrap {
      overflow-y: scroll;
      height: calc(100vh - 50px);
      background: url("../../assets/img/userBg.jpeg") no-repeat;
      background-size: cover;

      &::-webkit-scrollbar {
        display: none;
      }

      .chat__dialog-messages {
        max-width: 728px;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
      }
    }
  }
}

.ant-input-group-addon {
  transition: 0s;
  background: $input-search-background-color !important;

  button {
    background: $input-search-button-color !important;
  }
}

.ant-input-affix-wrapper, .ant-input-affix-wrapper-lg {
  border: 0;
  height: 100%;
  background: $chat-bg;
  transition: 0s;
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d9d9d9 !important;
  box-shadow: none;
  background: $chat-bg;
  transition: 0s;
}

.ant-input {
  background: $chat-bg;
  transition: all 0s;
  border: 0;
}


