@import "../../styles/variables";
@import 'src/styles/adaptive';

.dialogs {

  &__item {
    $self: &;
    display: flex;
    border-radius: 12px;
    cursor: pointer;

    &-avatar {
      position: relative;
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      margin: 10px 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: cover;
      }
    }

    &-noAvatar {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $default-font-color;
      font-size: 22px;
    }

    &--online {
      #{$self}-avatar {
        &::before {
          display: block;
          position: absolute;
          content: '';
          bottom: 2px;
          right: 2px;
          border: 2px solid $chat-bg;
          background-color: $green;
          border-radius: 20px;
          width: 12px;
          height: 12px;
        }
      }
    }

    &-info {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-flow: column;
      margin-right: 10px;
      overflow: hidden;

      &-top {
        display: flex;
        justify-content: space-between;

        b {
          color: $default-font-color;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 2px;
        }

        span {
          color: $secondary-font-color
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          color: $secondary-font-color;
          max-width: 570px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &-count {
      background: $accent-color;
      color: $font-count-color;
      font-weight: 500;
      min-width: 18px;
      height: 18px;
      border-radius: 30px;
      text-align: center;
      line-height: 17px;
      font-size: 11px;
      transition: $transition;
    }

    &.active,
    &:hover {
      background-color: $hover-color;
    }
  }
}
