@import "./src/styles/variables";

.message {

  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-flow: wrap-reverse;

    img {
      border-radius: 50px;
      width: 35px;
      height: 35px;
      margin-right: 13px;
      margin-bottom: 6px;
    }
  }

  &__bubble {
    display: inline-flex;
    background: $chat-bg;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.06);
    border-radius: 12px 12px 12px 0;
    padding: 3rem 6rem 3rem 7rem;
    margin-bottom: 6px;
  }

  &__date {
    line-height: 15px;
    display: block;
    font-size: 10px;
    color: $default-font-color;
    opacity: 0.4;
  }

  &__text {
    color: $default-font-color;

    p {
      margin-bottom: 0;
    }
  }

  &__time {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__attachments {
    display: flex;

    &-item {
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
        border-radius: $border-radius;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  &--is-audio {
    #{$self}__time {
      position: absolute;
      bottom: 2px;
      right: 6px;
    }

    #{$self}__bubble {
      width: 250px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {

      audio {
        display: none;
      }

      &-info {
        position: relative;
        height: 40px;
        display: flex;
      }

      &-btn {
        button {
          width: 38px;
          height: 38px;
          border-radius: 30px;
          background-color: $light-black-btn;
          opacity: 0.6;
          border: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 22px;
            height: 22px;
            margin-left: 2px;
          }
        }

        button:hover {
          cursor: pointer;
          opacity: 1;
        }

      }


      &-wave {
        width: 200px;
        height: 18px;
        overflow: hidden;
        margin-top: 5px;


        svg {
          width: 100%;
          fill: $default-font-color;
        }
      }

      &-duration {
        position: absolute;
        color: $default-font-color;
        font-weight: 500;
        opacity: 0.6;
        font-size: 0.2rem;
        left: 60px;
        bottom: 0;
      }

      &-progress {
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $grey;
      }
    }
  }

  &--isMe {
    display: flex;
    flex-flow: row-reverse;

    #{$self}__bubble {
      background: $accent-color;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.06);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $font-me-color;
      }
    }

    #{$self}__avatar {
      display: none;
    }

    #{$self}__content {
      flex-flow: row-reverse;
    }

    #{$self}__date {
      opacity: .8;
      display: flex;
      justify-content: flex-end;
      color: $font-me-color;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    width: 45px;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;

    span {
      height: 8px;
      width: 8px;
      background-color: #7786B2;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1s blink infinite ($i * .3333s);
        }
      }
    }
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }
  }

}
