@import "./src/styles/variables";

.message {

  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-flow: column-reverse;

    img {
      border-radius: 50px;
      width: 35px;
      height: 35px;
      margin-right: 13px;
      margin-bottom: 25px;
    }
  }

  &__bubble {
    display: inline-block;
    background: $light-black;
    color: #FFFFFF;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.06);
    border-radius: 8px 8px 8px 0;
    padding: 0.2rem 0.5rem 0.375rem 0.625rem;
    margin-bottom: 6px;
    border: 1px solid #ececec;
  }

  &__date {
    display: block;
    font-size: 12px;
    opacity: 0.4;
  }

  &__text {
    color: $black;
    line-height: 1.32;

    p {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__attachments {
    display: flex;

    &-item {
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  &__icon-checked {
    position: absolute;
    bottom: 32px;
    left: -20px;
  }

  &--is-audio {
    #{$self}__bubble {
      width: 250px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {

      audio {
        display: none;
      }

      &-info {
        position: relative;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-btn {

        button {
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background-color: $light-black-btn;
          opacity: 0.6;
          border: 1px solid white;
          display: flex;
          align-items: center;

          img {
            width: 16px;
            height: 16px;
          }
        }

        button:hover {
          cursor: pointer;
          opacity: 1;
        }

      }

      &-duration {
        font-weight: 500;
        opacity: 0.6;
        font-size: 12px;
      }

      &-progress {
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $grey;
      }
    }
  }

  &--isMe {
    display: flex;
    flex-flow: row-reverse;

    #{$self}__bubble {
      background: $blue;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.06);
      border-radius: 8px 8px 0 8px;

      #{$self}__text {
        color: #FFFFFF;
      }
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__content {
      flex-flow: row-reverse;
    }

    #{$self}__date {
      display: flex;
      justify-content: flex-end;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    width: 45px;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;

    span {
      height: 8px;
      width: 8px;
      background-color: #7786B2;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1s blink infinite ($i * .3333s);
        }
      }
    }
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }
  }

}
